.photo-sm {
    width: 100%;
    height: 380px;
    background-color:burlywood;
    margin-top: 20px;
    overflow: hidden;
}

.photo-big {
    width: 100%;
    height: 480px;
    background-color:orange;
    margin-top: 20px;
    overflow: hidden;
}

@media (min-width: 575.98px) {
   .video {
       margin-top: 20px;
       width: 100%;
       height: 400px;
   } 
}

@media (min-width: 767.98px) {
    .video {
        margin-top: 20px;
        width: 100%;
        height: 600px;
    } 
 }

 @media (min-width: 991.98px) {
    .video {
        margin-top: 20px;
        width: 100%;
        height: 800px;
    } 
 }